@model IEnumerable<LocationViewModel>

@{
    ViewData["Title"] = "Locations";
}
<div class="text center" style="width: 100%; margin: 0">
    <table class="table table-striped table-hover table-bordered" style="text-align: center; width: 100%">
        <thead style="font-style: italic; text-decoration: underline;">
            <tr>
                <th style="padding: 15px" scope="col">Name</th>
                <th style="padding: 15px" scope="col">Post Code</th>
                <th style="padding: 15px" scope="col">City</th>
                <th style="padding: 15px" scope="col">Country</th>
                <th style="padding: 15px" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in Model)
            {
                <tr>
                    <th style="padding: 15px">@location.Name</th>
                    <td style="padding: 15px">@location.PostCode</td>
                    <td style="padding: 15px">@location.City</td>
                    <td style="padding: 15px">@location.Country</td>
                    <td style="padding: 5px 0px">
                        <a asp-action="Details" asp-controller="Location" asp-route-id="@location.Id" class="btn btn-primary" style="border-radius: 9999px">Details</a>
                        @*    @if (User.IsInRole("Admin"))s
                    { *@
                        <a asp-action="Delete" asp-controller="Location" asp-route-id="@location.Id" class="btn btn-danger" style="border-radius: 9999px">Delete</a>
                        @* } *@
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" style="padding: 10px 0px">
                    @*     @if (User.IsInRole("Admin"))
                    { *@
                    <a asp-action="Create" asp-controller="Location" style="display: inline-flex; justify-content: center; align-items: center; border-radius: 9999px" class="btn btn-success">Add New Location</a>
                    @* } *@
                </td>
            </tr>
        </tfoot>
    </table>
</div>