@using FleetRouteManager.Common.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model VehicleCreateInputModel

@{
    ViewData["Title"] = "Add New Vehicle";
}

<h1 style="font-style: italic">ViewData["Title"]</h1>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="@Model.RegistrationNumber">Registration Number</label>
        <input asp-for="@Model.RegistrationNumber" class="form-control" />
        <span asp-validation-for="@Model.RegistrationNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.ManufacturerId">Manufacturer</label>
        <select asp-for="@Model.ManufacturerId" asp-items="ViewBag.Manufacturers" class="form-control"></select>
        <span asp-validation-for="@Model.ManufacturerId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.VehicleModel">Model</label>
        <input asp-for="@Model.VehicleModel" class="form-control" />
        <span asp-validation-for="@Model.VehicleModel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Vin">VIN</label>
        <input asp-for="@Model.Vin" class="form-control" />
        <span asp-validation-for="@Model.Vin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.FirstRegistration">First Registration</label>
        <input asp-for="@Model.FirstRegistration" type="text" class="form-control"
               value="@(DateTime.Now.ToString("dd-MM-yyyy"))"/>
        <span asp-validation-for="@Model.FirstRegistration" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.EuroClass">Euro Class</label>
        <select asp-for="@Model.EuroClass" asp-items="Html.GetEnumSelectList<EuroClass>()" class="form-control"></select>
        <span asp-validation-for="@Model.EuroClass" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.VehicleTypeId">Vehicle Type</label>
        <select asp-for="@Model.VehicleTypeId" asp-items="ViewBag.VehicleTypes" class="form-control"></select>
        <span asp-validation-for="@Model.VehicleTypeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.BodyType">Body Type</label>
        <select asp-for="@Model.BodyType" asp-items="Html.GetEnumSelectList<BodyType>()" class="form-control"></select>
        <span asp-validation-for="@Model.BodyType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Axles">Axles</label>
        <input asp-for="@Model.Axles" type="number" class="form-control" />
        <span asp-validation-for="@Model.Axles" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.WeightCapacity">Weight Capacity</label>
        <input asp-for="@Model.WeightCapacity" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="@Model.WeightCapacity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.AcquiredOn">Acquired On</label>
        <input asp-for="@Model.AcquiredOn" type="text" class="form-control"
               value="@(DateTime.Now.ToString("dd-MM-yyyy"))" /> 
        <span asp-validation-for="@Model.AcquiredOn" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.LiabilityInsurance">Liability Insurance</label>
        <input asp-for="@Model.LiabilityInsurance" class="form-control" />
        <span asp-validation-for="@Model.LiabilityInsurance" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.LiabilityInsuranceExpirationDate">Liability Insurance Expiration Date</label>
        <input asp-for="@Model.LiabilityInsuranceExpirationDate" type="text" class="form-control"
               value="@(DateTime.Now.ToString("dd-MM-yyyy"))" />
        <span asp-validation-for="@Model.LiabilityInsuranceExpirationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.TechnicalReviewExpirationDate">Technical Review Expiration Date</label>
        <input asp-for="@Model.TechnicalReviewExpirationDate" type="text" class="form-control"
               value="@(DateTime.Now.ToString("dd-MM-yyyy"))" />
        <span asp-validation-for="@Model.TechnicalReviewExpirationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.TachographExpirationDate">Tachograph Certificate Expiration Date</label>
        <input asp-for="@Model.TachographExpirationDate" type="text" class="form-control"
               value="@(DateTime.Now.ToString("dd-MM-yyyy"))"/>
        <span asp-validation-for="@Model.TachographExpirationDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Vehicle</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
