@model VehicleDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="text center" style="width: 100%; margin: 0; text-align:center">
    <h1 style="font-family: Arial; font-weight:bolder">
        @Model.RegistrationNumber
    </h1>
    <table class="table table-striped table-hover table-bordered" style="text-align: center; width: 100%">
        <thead style="font-style: italic; text-decoration: underline">
            <tr>
                <h5 style="font-style: italic; text-decoration-line: underline">Main Information</h5>
                <th scope="col">VIN</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Model</th>
                <th scope="col">First Registration</th>
                <th scope="col">Euro class</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Vin</td>
                <td>@Model.Manufacturer</td>
                <td>@Model.Model</td>
                <td>@Model.FirstRegistrationDate</td>
                <td>@Model.EuroClass</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-hover table-bordered" style="text-align: center; width: 100%">
        <thead style="font-style: italic; text-decoration: underline">
            <tr>
                <h5 style="font-style: italic; text-decoration-line: underline">Additional Information</h5>
                <th scope="col">Axles</th>
                <th scope="col">Capacity in tons</th>
                <th scope="col">Acquired on</th>
                <th scope="col">Type</th>
                <th scope="col">Body</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Axles</td>
                <td>@Model.WeightCapacity</td>
                <td>@Model.AcquiredOn</td>
                <td>@Model.Type</td>
                <td>@Model.BodyType</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-hover table-bordered" style="text-align: center; width: 100%">
        <thead style="font-style: italic; text-decoration: underline">
            <tr>
                <h5 style="font-style: italic; text-decoration-line: underline">Insurance and Certificates</h5>
                <th scope="col">Liability Insurance</th>
                <th scope="col">Liability Ins. expires on</th>
                <th scope="col">Technical Cert. expires on</th>
                <th scope="col">Tachograph Cert. expires on</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.LiabilityInsurance</td>
                <td>@Model.LiabilityInsuranceExpirationDate</td>
                <td>@Model.TechnicalReviewExpirationDate</td>
                <td>@Model.TachographExpirationDate</td>
            </tr>
        </tbody>
    </table>
    @if (Model.Drivers.Any())
    {
        <table class="table table-striped table-hover table-bordered" style="text-align: center; width: 100%">
            <thead style="font-style: italic; text-decoration: underline">
                <h5 style="font-style: italic; text-decoration-line: underline">Drivers</h5>
                <tr>
                    @for (int i = 1; i <= @Model.Drivers.Count(); i++)
                    {
                        <th scope="col">Driver @i</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for (int i = 0; i < @Model.Drivers.Count(); i++)
                    {
                        <td>@Model.Drivers.ToList()[i]</td>
                    }
                </tr>
            </tbody>
        </table>
    }
    <div class="text center" style="width: 100%; margin: 0">
        <div style="display: inline-flex; column-gap: 5px">
            <a asp-action="Index" asp-controller="Vehicle" style="display: inline-flex; justify-content: center; align-items: center; border-radius: 9999px; width: 100px; height: 40px" class="btn btn-primary">Back</a>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <a asp-action="Edit" asp-controller="Vehicle" asp-route-id="@Model.Id" style="display: inline-flex; justify-content: center; align-items: center; border-radius: 9999px; width: 100px; height: 40px" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-controller="Vehicle" asp-route-id="@Model.Id" style="display: inline-flex; justify-content: center; align-items: center; border-radius: 9999px; width: 100px; height: 40px" class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>