@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Trucks";
}
<div class="text center" style="width: 100%; margin: 0;">
    <table class="table table-striped table-hover table-bordered" style="text-align: center; width: 100%">
        <thead style="font-style: italic">
            <tr>
                <th style="padding: 15px"  scope="col">Registration Number</th>
                <th style="padding: 15px" scope="col">VIN</th>
                <th style="padding: 15px" scope="col">Manufacturer</th>
                <th style="padding: 15px" scope="col">Model</th>
                <th style="padding: 15px" scope="col">First Registration</th>
                <th style="padding: 15px" scope="col">Euro class</th>
                <th style="padding: 15px" scope="col">Type</th>
                <th style="padding: 15px" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model)
            {
                <tr>
                    <th style="padding: 15px">@vehicle.RegistrationNumber</th>
                    <td style="padding: 15px">@vehicle.Vin</td>
                    <td style="padding: 15px">@vehicle.Manufacturer</td>
                    <td style="padding: 15px">@vehicle.Model</td>
                    <td style="padding: 15px">@vehicle.FirstRegistrationDate.ToString("dd-MM-yyyy")</td>
                    <td style="padding: 15px">@vehicle.EuroClass</td>
                    <td style="padding: 15px">@vehicle.Type</td>
                    <td style="padding: 5px 0px">
                        <a asp-action="Details" asp-controller="Vehicle" asp-route-id="@vehicle.Id" class="btn btn-primary" style="border-radius: 9999px">Details</a>
                        @*    @if (User.IsInRole("Admin"))s
                    { *@
                        <a asp-action="Delete" asp-controller="Vehicle" asp-route-id="@vehicle.Id" class="btn btn-danger" style="border-radius: 9999px">Delete</a>
                        @* } *@
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td style="padding: 10px 0px">
                    @*     @if (User.IsInRole("Admin"))
                    { *@
                    <a asp-action="Add" asp-controller="Vehicle" style="display: inline-flex; justify-content: center; align-items: center; border-radius: 9999px;" class="btn btn-success">Add new Vehicle</a>
                    @* } *@
                </td>
            </tr>
        </tfoot>
    </table>
</div>